<div class="row-fluid">
  <div class="span3">
    <div class="title">
      <div class="row-fluid legend">
        <h1>{{displayName}}</h1>
      </div>
    </div>
    <div class="content">
    </div>
  </div>
  <div class="span9">
    <div class="row-fluid legend profile">
      <div class="row-fluid">
        <div class="span6 spacer">
        </div>
        <div class="span6">
          <div class="pull-right">
            <button class="btn btn-info" {{action convert on="click"}}>Convert</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>